body{
background-color: silver;
}

.header{
    background-color: black;
    margin-left: -10px;
    margin-right: -8px;
    margin-top: -10px;
}

#logo{
    margin: -20px 10px 10px 20px;
    height: 150px;
    width: 180px;
}

.exp{
    border: solid 2px black; 
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 5%;
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
}

.firstlist{
    margin-top: 50px;
}

#footer{
    position: fixed;
    left: 0;
    bottom:0;
    background-color:#000;
    width:100%;
    height: 25px;

}